<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <Property name="logdir">E:/logs</Property>
        <Property name="layout">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${layout}</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="${logdir}/web.log"
                     filePattern="$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>${layout}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="RollingFile" level="error"/>
        </Root>
    </Loggers>
</Configuration>
